/* Global Styles */
body {
  margin: 0;
  padding: 0;
  background-color: #FBF2ED;
  font-family: 'Krona One', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Admin Container */
.admin-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 20px 30px;
  max-width: 1440px;
  height: 90vh;
  align-items: center;
  gap: 30px;
  
}


.profile-container {
  background-color: #FFFFF5;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center horizontally */
  height: 100%;
  width: 100%; 
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); 
  
}


/* Profile Info Section */
.info {
  margin-bottom: 20px;
  
}

.info p {
  font-size: 18px;
  margin: 5px 0;
  align-items: center; 
  margin-left: 40px;
}

/* Action Buttons in Profile Section */
.action-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 40px;
}

.action-buttons button {
  background-color: #ADAF95;
  border: none;
  border-radius: 15px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

.action-buttons button:hover {
  background-color: #939772;
  transform: scale(1.05); /* Slight zoom effect on hover */
}

img {
  width: 300px;
  height: 300px;
}

/* Orders Grid */
.orders-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  height: 100%;
}

/* Orders Section */
.orders-section {
  background-color: #FFFFFF;
  border-radius: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  overflow-y: auto;
}

/* Section Titles */
.section-title {
  font-family: 'Gravitas One', sans-serif;
  color: #5C0202;
  font-size: 36px;
  margin-bottom: 10px;
  text-align: center;
  margin-left: 20px;
}

/* Order Card */
.order-card {
  background-color: #FBBCBC;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-card button {
  background-color: #5C0202;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
}



  .order-card {
  display: flex;
  flex-direction: column;  
  align-items: flex-start; 
  }
  

/* Logout Button */
.logout-button {
  position: absolute;
  top: 20px;
  right: 40px;
  background-color: #CF5B5F;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
}
